.border-radius(@radius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.box-shadow(@style){
  -webkit-box-shadow: @style;
  -moz-box-shadow: @style;
  box-shadow: @style;
}
